.project-data{
    word-wrap: break-word !important;
}

.case-card {
    width: 80% !important;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    color: white;
    border: 0;
    background: linear-gradient(248.6deg, rgba(0, 133, 255, 0.5) -40.75%, rgba(255, 255, 255, 0) 160.44%), rgba(0, 219, 134, 0.5);
    border-radius: 7px;
    font-family: "Roboto";
    //margin-right: 2rem;
}
@media (min-width: 1240px){
.case-card {
width: 60% !important;

}
}
.card-header {
    background-color: transparent;
    border-bottom: 0;

    
    h6 {
        font-weight: bold;
    }
}

.card-title {
    position: relative;
    padding-block: 2rem;
    text-transform: uppercase;
    
    h5 {
        font-size: 2rem;
        font-weight: bold;
    }
}

.card-desc { 
    padding-top: 0.5rem;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}