.skills{
    ul{
        display: contents;
        margin: 1rem;
        padding: 0;
    }
    @media (min-width: 575px) {
    ul{
        bottom: 2rem;
        padding: 0;
        position: absolute;
        margin: auto;
    }
    @media (max-width: 462px) {
      .user-skills{
        display: contents;
      }
    }
}
    li{
        background-color: #0085FF;
        color: #ffffff;
        border-radius: 0.2rem;
        margin-right: 1rem;
        padding-inline: 1rem;
        padding-block: 0.3rem;
        margin-block: 0.2rem;
        font-family: "Roboto";
    }
}

.user-card {
    background-color: #f7f6f6;
    //padding: 0.6rem;
    width: 100%;
    margin-block: 2rem;
    //margin-inline: 3rem;
    //max-width: 80%;
 
.avatar {
  max-width: 13rem;
}

@media (max-width: 575px) {
  .avatar {
    max-width: 15rem;
  }
}
@media (max-width: 575px) {
  .image-col {
    padding-block: 1rem !important;
    padding-inline: 1rem !important;
  }
}

.image-col {
  padding-block: 2rem;
  padding-inline: 2rem;
  text-align: center;
  img{
    //max-width: 100%;
  }
}

@media (max-width: 575px) {
  .data-col {
    padding-block: 0rem !important;

    padding-block-end: 1.5rem !important;
  }
}

.data-col {
  padding-block: 2rem;
  padding-inline: 2rem;
  color: black;
}

@media (max-width: 575px) {
  .data-col {
    padding-block: 2rem;
   // padding-inline: 5rem;
    text-align: center;
  }
}

@media (max-width: 575px) {
  .user-card {
    width: 80% !important;
  }
}



@media (max-width: 575px) {
  .name {
    font-size: 2rem !important;
    justify-content: center;
  }
}
.name {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #0085ff;
}

@media (max-width: 575px) {
  .city-regdate {
    justify-content: center;
  }
}

.city-regdate {
 // padding-left: 0.4rem;
}

@media (max-width: 575px) {
  .category-freelancercard {
    font-size: 1.3rem !important;
    padding-top: 1rem !important;
    justify-content: center;
  }
}

.category-freelancercard {
  font-size: 1.5rem;
  padding-top: 3rem;
}

@media (max-width: 575px) {
.niche{
    justify-content: center;
}}
}
