.signin-signup-title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  margin-block: 2rem;
}

@media (max-width: 525px) {
  .signin-submit {
    width: 90% !important;
  }

  .signin-signup {
    padding-inline: 1rem !important;
    padding-block: 2rem !important;
    width: 90% !important;
    form {
      width: 100% !important;
    }
  }
}

@media (max-width: 768px) {
  .signin-submit {
    width: 80% !important;
  }
  .signin-signup {
    width: 80% !important;
  }
}
.signin-signup {
  width: 50%;
  background-color: #f7f6f6;
  padding-inline: 4rem;
  padding-block: 4rem;
  text-align: center;
  div {
    width: 80%;
    margin-inline: auto;
  }
}

@media (max-width: 792px) {
  .signin-submit {
    width: 80% !important;
  }
  .signup-button{
    width: 80% !important;
}
.signup-button-row{
  padding-inline: 3rem !important;
}
}


@media (max-width: 655px) {
  .signin-submit {
    width: 90% !important;
  }
  .signup-button{
    width: 90% !important;
}
.signup-button-row{
  padding-inline: 3rem !important;
}
}

@media (max-width: 580px) {
  .signin-submit {
    width: 90% !important;
  }
  .signup-button{
    width: 100% !important;
}
.signup-button-row{
  padding-inline: 2rem !important;
}
}

.signin-submit {
  width: 80%;
  background-color: #00db86;
  font-family: "Roboto";
  color: black;
  margin-top: 1rem;
  border: 0;
}

.signup-button-row{
  text-align: center; 
  padding-inline: 5rem;
  margin-bottom: 5rem;

  .signup-button{
    display: inline-block;
    width: 70%;
  font-family: "Roboto";
  color: white;
  margin-top: 1rem;
  padding-block: 0.6rem;
  padding-inline: 2rem;
    border-radius: 0.2rem;
  border: 0;
 }

  .su-c{
    background-color: #0085FF;

  }

  .su-f{
    background-color: black;

  }
}