.modal-fullscreen{
    height: auto;
}
li {
  list-style-type: none;
}

.admin-dashboard{
    margin-top: 2rem;
}

.contact-row{
  margin-block: 1rem;
  margin-inline: auto;
  width: 30% !important;
      div{
          width: auto !important;
          margin: auto;
  
      }
  }
  .contact-content{
    font-family: "Roboto";
    }
    .contact-logo{
        max-width: 65px;
    }

.sm {
  cursor: pointer !important;
  width: 90%;
  .image-col {
    padding-block: 1rem !important;
    padding-inline: 1rem !important;
  }
  .avatar {
    max-height: 5rem !important;
  }
}

.sm-data {
  padding-block: 1rem !important;
  padding-inline: 1rem !important;

  .name {
    font-size: 1.5rem !important;
  }
  .city-regdate {
    margin-top: 1rem;
    font-size: 1rem !important;
  }
}

.bar-col {
  background-color: white !important;
  h2 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
  }
}

.verifPage{
  max-width: 100%;
    h2{
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        color: #0085ff; 
        margin-block: 2rem;
    }
    .u-info{
        margin-inline: 2rem;
        font-family: "Roboto";

    }
    .resume{
        justify-content: center;
        .resume-btn{
            width: 15%;
            background-color: #00DB86;
            color: white;
            border: 0;
            font-family: "Roboto";

        }
        @media (max-width: 575px) {
            .resume-btn{
                width: 30%;
            }
        }

    }

    .v-contact{
        justify-content: center;
        font-family: "Roboto";
    }

    .button-row{

        justify-content: center;
        padding-block: 2rem;
        text-align: center;

        @media (max-width: 575px) {
            .btn{
                width: 30% !important;
            }
        }
        .btn{
            margin-inline: 1rem;
            border: 0;
            width: 15%;
        }

        .decline{
            background-color: #e54b4a;
        }
        .accept{
            background-color: #00DB86;


        }
    }
}
