@media (max-width: 850px) {
  .user-card {
    width: 100% !important;
  }
}

@media (max-width: 650px) {
  .user-card {
    .data-col{
      padding-inline: 3.5rem !important;
    }
  }
}

.user-card {
    background-color: #f7f6f6;
    width: 80%;
    margin-block: 2rem;
    margin-inline: auto;

.avatar {
  max-width: 13rem;
}

@media (max-width: 575px) {
  .avatar {
    max-width: 15rem;
  }
}
@media (max-width: 575px) {
  .image-col {
    padding-block: 1rem !important;
    padding-inline: 1rem !important;
  }
}

.image-col {
  padding-block: 2rem;
  padding-inline: 2rem;
  text-align: center;
}

@media (max-width: 575px) {
  .data-col {
    padding-block: 0rem !important;

    padding-block-end: 1.5rem !important;
  }
}

.data-col {
  padding-block: 2rem;
  padding-inline: 2rem;
}

@media (max-width: 575px) {
  .data-col {
    padding-block: 2rem;
    padding-inline: 5rem;
    text-align: center;
  }
}

@media (max-width: 575px) {
  .name {
    font-size: 2rem !important;
    justify-content: center;
  }
}
.name {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #0085ff;
}

@media (max-width: 575px) {
  .city-regdate {
    justify-content: center;
  }
}

.city-regdate {
 // padding-left: 0.4rem;
}

@media (max-width: 575px) {
  .company-name {
    font-size: 1.3rem !important;
    padding-top: 1rem !important;
    justify-content: center;
  }
}

.company-name {
  font-size: 1.5rem;
  padding-top: 3rem;
}

@media (max-width: 575px) {
.niche{
    justify-content: center;
}}
}
