.projects {
  flex-flow: row;
}

.btn-outline-primary {
  border: 2px solid #0085ff;
  box-sizing: border-box;
  border-radius: 18px;
  display: block;
  margin: 1rem auto;
}

.header{
  text-align: center;
  color: #0085FF;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 0.3rem;
  margin-block: 1rem;
}

.contact-row{
  margin-block: 1rem;
  margin-inline: auto;
  width: 30%;
      div{
          width: auto !important;
          margin: auto;
  
      }
  }
