.no-cases{
  text-align: center;
  font-family: "Roboto";
  margin: auto;
  font-weight: normal;
  font-size: 1rem;
  max-width: 80%;
}

.clist {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-block: 2rem;
  max-height: 17rem;
  max-width: 100%;

  li {
    list-style: none;
    width: 33% !important;
    a {
      text-decoration: none !important;
    }
  }
  @media (max-width: 768px) {
    li {
      width: 50% !important;
    }
  }
  @media (max-width: 500px) {
    li {
      width: 75% !important;
    }
  }
}
