.list-cases {
  width: 90%;
  margin-top: 2rem;
  text-align: center;
  a {
    margin: auto;
    margin-block: 2rem !important;

    @media (max-width: 500px) {
        .container {
            width: 60% !important;
        }
        }

    @media (min-width: 765px) {
    .container {
        width: 40% !important;
    }
    }
    @media (min-width: 990px) {
    .container {
      width: 29% !important;
    }
}

.container {
   
    display: inline-grid;
    margin-block: 1rem;

    margin-inline: 1rem;
  }
    text-decoration: none !important;
  }
}
