.header-edit-page {
  margin-block: 1rem;
}

.btn-close {
  margin-top: 0.4rem;
}
.file-input-row {
  margin-block: 1rem;
  margin-inline: inherit;
}
.current-avatar {
}
.edit-avatar {
  text-align: left;
  align-items: left;
}
.edit {
  width: 90%;
}

.edit-contact-type {
  .form-select {
    padding-block: 1rem !important;
  }
}

.left-col {
  display: block;
}

.edit-row {
  width: 95%;
  margin-block: 1rem;

  .textarea-info {
    margin: auto;
    width: 98%;

  }
}

.edit-pass {
  width: 30%;
  margin: auto;
}

.edit-title {
  margin-top: 1rem;
  padding: 0;
}

.edit-save {
  width: 30%;
  margin: auto;
}

.edit-cancel {
  width: 30%;
  margin: auto;
  background-color: black;
  border: 0;
}
