.project-case{
  max-width: 90%;
  margin-inline: auto;
}

.project-img{
  img{
  max-width: 50%;
  }
}

.project-name {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #0085ff;
  padding-top: 0.5rem;
  justify-content: center;
}
.project-info {
  a,
  h6 {
    text-decoration: none !important;
    color: black;
  }
}

.project-data-title{
    font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #0085ff;
}

.project-data{
    padding-bottom: 1rem;
}

.project-category, .project-niche{
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  text-decoration: underline;
  padding-bottom: 0.5rem;
}

.project-price{
    width: 85%;
  background-color: #f7f6f6;
  margin-bottom: 1rem;
  .col{
      width: 50%;
      margin-inline: 0.6rem;
      margin-block: 2rem;
      font-family: "Montserrat", sans-serif;
      font-size: 1rem;
      font-weight: bold;
      color: black;
  }
}

@media (max-width: 1002px){
  .user-project-card {
    width: 95% !important;
  }
  .project-price{
    width: 95%;
  }

}

.user-project-card {
  width: 85%;
  background-color: #f7f6f6;
  margin-bottom: 1rem;
  .avatar-role {
    width: 30%;
    padding-block: 0.6rem;
    .user-project-avatar {
        justify-content: center;
        margin-top: 0.4rem;
      max-height: 3rem;
    }
    .user-project-role {
        justify-content: center;
        word-wrap: unset;


      position: sticky;
      margin-top: -0.4rem;
    }
    div{
        text-align: center;
    }
  }
  .user-project-name {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: bold;
      margin-block: auto;
    justify-content: center;
    width: 70%;
  }
}
