.review-card{
    margin-inline: auto;
    margin-block: 2rem;
    padding-block: 2rem;

    justify-content: center;
    background-color: #F4F4F4;
    width: 90%;

    .review-avatar{
        text-align: center;
        .review-avatar-img{
            width: 60%;
        }
        @media (max-width: 525px) {
            .review-avatar-img{
                width: 30%;
                margin-bottom: 1rem;
            }
          }
    }
    .review-data{
        font-family: "Roboto";
        .review-name{
            font-size: 1.5rem;
        }
        .review-company{
            font-size: 1rem;
            margin-bottom: 1rem;
        }
        .review-content{
            margin-bottom: 2rem;
            max-width: 90%;
            word-wrap: break-word;
        }
        .review-project{
            position: absolute;
            bottom: 0;
            background-color: #0085FF;
            padding-inline: 2rem;
            font-size: 1rem;
            font-weight: bold;
            color: white;
            display: table;
        }
    }
}
