.main-header{
    margin-bottom: 2rem;
}
.userRoutingHeader {
    padding: 0.6rem;
    width: 100%;
}
.navbar{
    background-color: #f7f6f6 ;
}
@media (min-width: 992px){
.navbar{
    flex-flow: column;
}}

@media (max-width: 992px){
.navbar{
    padding-inline: 3rem;
}}

.navbar-collapse{
    width: 100%;
}
.navbar-brand{
    font-family: 'Montserrat', sans-serif;
    &:hover { opacity: 0.8; color: #ffffff; cursor: default};
    text-decoration: none !important;
    font-size: 2rem;
    cursor: pointer !important;
}
.userRoutingHeader{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24; 
    text-transform: uppercase;
    
}
.cases{
    background-color: #00DB86 !important;
}
.nav-item{
    margin-inline: 0.7rem;
    margin-block: 0.5rem;
    &:hover { opacity: 0.8; color: white; cursor: default};
}
@media (max-width: 992px){
.nav-link{
    padding-block: 1rem !important;
}}

.nav-link, .nav-link:focus, .nav-link:hover{
    color: white !important;
    border-radius: 0rem !important;
    padding-block: 0.6rem;

}

.freelancers, .clients {
    background-color: #0085FF !important;
}

.edit-profile, .logout {
    background-color: black !important;
}