.project-add-title{
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #0085ff;
    padding-top: 0.5rem;
    justify-content: center;
}

.form-label{
    font-family: "Roboto";
    color: #737B7D;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}

.form-control{
    border-radius: 0;
}

.asyncselect{
    div{
        border-radius: 0 !important;
    }
    
}

.add-case-submit{
    font-family: "Roboto";
    font-weight: bold;
    font-size: 1rem;
    background-color: #0085FF;
    float: right;
    padding-inline: 2rem;
    padding-block: 0.5rem;
    border: 0;
    margin-top: 2rem;
}
