.projects {
    flex-flow: row;
}

.header{
    text-align: center;
    color: #0085FF;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 0.3rem;
}

.btn-outline-primary {
    border: 2px solid #0085FF;
    box-sizing: border-box;
    border-radius: 18px;
}