.projects {
    flex-flow: row;
}

.btn-outline-primary {
    border: 2px solid #0085FF;
    box-sizing: border-box;
    border-radius: 18px;
}
.projects {
    flex-flow: row;
}

.header{
    text-align: center;
    color: #0085FF;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 0.3rem;
    margin-block: 1rem;
}

.btn-outline-primary {
    border: 2px solid #0085FF;
    box-sizing: border-box;
    border-radius: 18px;
}

.fl-page{
    .row{
        .contact-content{
        font-family: "Roboto";
        }
        .contact-logo{
            max-width: 65px;
        }

    }
}
.contact-row{
margin-block: 1rem;
margin-inline: auto;
width: 30%;
    div{
        width: auto !important;
        margin: auto;

    }
}