.confirm-page-1 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: black;
    margin-block: 2rem;
    margin-top: 5rem;
  }

  .confirm-page-2 {
      margin-inline: auto;
    width: 90%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    color: black;
    margin-block: 1rem;
  }