@media (min-width: 900px) {
  .signup-form {
    width: 70% !important;
  }
}

.back{
  background-color: black !important;
  color: white !important;
  margin-right: 1rem;
}

.col-sm8, .col-sm-4{
  margin: auto;
  .asyncselect {
    margin-block: 1rem;
  }
}

.signup-form {
  width: 90%;
  background-color: #f7f6f6;
  margin: auto;

  .signup-row {
    margin-inline: auto;
    width: 90%;
    padding-block: 2rem;
    justify-content: center;
    padding-block: 3rem;

    .signup-col {
      background-color: #f7f6f6;
      width: 80%;
      .form-control {
        margin-block: 1rem;
      }
      .asyncselect {
        margin-block: 1rem;
      }
      .signup-submit {
        background-color: #00db86;
        font-family: "Roboto";
        color: black;
        border: 0;

        font-size: 1rem;
        float: right;
        padding-inline: 2rem;
        padding-block: 0.5rem;

        //margin-top: 2rem;
      }
    }
  }
}